.card {
  width: 100%;
  background: linear-gradient(90deg, #6c3dc7, #5633cc, #3e30d1);
  padding: 20px 25px;
  border-radius: 16px;
  color: #fff;
  font-family: sans-serif;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.icon {
  background: rgba(255, 255, 255, 0.2);
  padding: 2px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.content-row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-score {
  font-size: 36px;
  font-weight: 700;
  margin-top: 5px;
  color: #2fa58c;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grade-circle {
  background: #daf9ff;
  color: #2fa58c;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.peer {
  margin-top: 15px;
  font-size: 16px;
}
